body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #222, #000);
    color: white;
    flex-direction: column;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clock {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: radial-gradient(circle, #222, #000);
    border: 8px solid #00ff00;
    position: relative;
    box-shadow: 0px 0px 30px #00ff00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-circle {
    width: 12px;
    height: 12px;
    background: #00ff00;
    position: absolute;
    border-radius: 50%;
}

.hand {
    position: absolute;
    width: 50%;
    height: 4px;
    background: #00ff00;
    top: 50%;
    left: 50%;
    transform-origin: left;
    transition: 0.2s linear;
    border-radius: 2px;
}

.number {
    position: absolute;
    color: #00ff00;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.quote-box {
    margin-top: 20px;
    padding: 15px;
    background: rgba(0, 255, 0, 0.8);
    color: black;
    font-size: 18px;
    border-radius: 5px;
    text-shadow: 0px 0px 5px black;
    width: 80%;
    max-width: 400px;
    text-align: center;
    }
